

#title{
  color: BLACK;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: 500px;
  line-height: 44px;
  margin: auto;
  text-align: center;
  width : 600px;
  margin-top: 35px;
  border-top: 1px solid rgb(45, 58, 70);
  border-bottom: 1px solid rgb(45, 58, 70);
}

#body
{font-family: 'Libre Baskerville', serif;
 margin-top: 100px;
  
 }

#contents {
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  /*margin: 0 0 14px;*/
  width: 700px;
  margin: auto;
}

#p1 {
  float: left;
  margin: 0 0 20px 0;
  width: 45%;
}

#p2 {
  float: right;
  margin: 0 0 20px 0;
  width: 45%;
}
